.wrapper {
   width: 1280px;
   margin: 0 auto;
}

.header {
   margin-bottom: 48px;
}

.logo-link {
   display: block;
   width: fit-content;
   font-size: 80px;
   margin-bottom: 40px;
   color: #000;
}
.logo-link span {
   color: #4BCAFF;
}

.header_navbar {
   background-color: #35444F;
}
.header_navbar_menu {
   display: flex;
   justify-content: center;
}
.navbar_menu-list {
   padding: 24px 0;
   border-right: 1px solid #fff;
}
.navbar_menu-list .navbar_link {
   padding: 24px 32px;
   color: #FFF;
   font-size: 24px;
}

.navbar_link:hover {
   background-color: #1f292f;
}

.first {
   border-left: 1px solid #fff;
}

.main {
   display: flex;
   flex-flow: row-reverse wrap;
   justify-content: space-between;
   margin-bottom: 54px;
}

.image-block {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 885px;
   height: 529px;
   border: 1px solid #000;
}
.picture {
   width: 320px;
   height: 381px;
}

.sidebar_menu {
   width: 344px;
   border: 1px solid #000;
}

.sidebar_menu-list:hover {
   background-color: #DBDBDB;
   padding-left: 30px;
}

.sidebar_link {
   display: block;
   padding: 26px 44px;
   color: #485863;
   font-size: 27px;
   line-height: 27px;
}

.text-wrapper {
   width: 885px;
}

.text {
   color: #2C2C2C;
   font-size: 18px;
   line-height: 24px;
}

.first-text {
   margin-top: 37px;
}
.second-text {
   margin-top: 13px;
}

.footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 69px;
   padding: 0 40px;
   background-color: rgba(99, 105, 110, 0.48);
   margin-bottom: 30px;
}

.footer_menu {
   display: flex;
   justify-content: space-between;
}
.footer_menu-list {
   padding-right: 25px;
   font-size: 28px;
   line-height: 28px;
}
.footer_menu-link {
   color: #0C1927;
}
.footer_menu-link:hover {
   color: #3181A6;
   border-bottom: 1px solid #3181A6;
   padding-bottom: 8px;
}

.copyright {
   color: #010101;
   font-size: 24px;
   line-height: 24px;
}